@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Open+Sans&family=Raleway&family=Roboto+Mono&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    background: #141414;
    overflow-x: hidden;
}

* {
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7ffff7;
    border-radius: 10px;
    width: 20px;
  }



#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #141414;
    z-index: 1000;
    display:flex;
    justify-content: center;
}



.header {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    top: 0px;
    left: 0px;
    height: 8vh;
    background: #1e1f1c;
    border-bottom: 1px solid #7ffff7;
}


.logo {
    cursor: pointer;
    width: auto;
    height: 100%;
}


canvas#mainCanvas {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 95vh;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: auto;
    color: white;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    line-height: auto;
    color: #FFFFFF;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1em;
    color: #707070;
}

.news h3 {
    color:white;
}

.news {
    width: 45%;
}


p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #707070;
}

p.positive {
    color: #00FF19;
}

p.negative {
    color: #FF0000;
}

p.publisher {
    font-size: 16px;
}

p.title {
    color: white;
}



.container, .cardLayout {
    position: relative;
    display: flex;
    width: 90vw;
    left: 5vw;
    top: 10vh;
}

.mainVisual{
    width: 60%;
    height: auto;
    margin-left: 1.5%;

}

.mainVisual .priceInfo {
    display: flex;
    width: 100%;
}

.priceInfo h2 {
    width: 36%;
}

.scheduleAndChange {
    width: 64%;
}   

.graph {
    width: 100%; 
    height: 450px; 
    margin: 0; 
    padding: 0;
}


.companyInfo {
    width: 30%;
    height: auto;
    margin-left: 5%;
}

.companyDesc {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 35vh;
}

.nameAndLogo {
    width: 100%;
    display: flex;
}

img.companyLogo {
    max-height: 10vmin;
    max-width:10vmin;
    width: auto;
    height: auto;
}

.nameAndLogo h1 {
    width: 86%;
}

@media (max-aspect-ratio: 1040/1000)
{
    div.container {
        display: block;
    }

    div.mainVisual {
        width: 100%;
        margin-left: 0px;
    }
    
    div.cards {
        width: 100%;
    }

    div.companyInfo{
        width: 100%;
        height: auto;
        margin: 0px;
        margin-bottom: 5vh;
    }
}

@media (max-width: 1390px)
{

    div.cardLayout {
        display: block;
    }
    div.cards {
        max-height: 30vh;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        width: 100%;
    }
    div.card {
        margin-left: 2vmin;
        margin-right: 2vmin;
    }
    div.news {
        width: 100%;
    }
}

.cards {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #343434;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    width: 200px;
    height: 140px;
    margin: 2vmin;
    cursor: pointer;
    transition: all 0.4s;
}
@media (min-width: 1391px)
{
    .card:hover {
        width: 240px;
    }
}



.card h3 {
    height: 100%;
    vertical-align: center;
    transition: all 0.3s;
}

.white {
    color: white;
}

.scrollable {
    height: 40vh;
    display: inline-block;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.article{
    background: #262626;
    border-radius: 9px;
    transition: all 0.3s;
}

.scrollable a {
    text-decoration: none;
}

.article:hover{
    background: #262626;
    border-radius: 9px;
    transform: scaleY(1.20);
    transform: scaleX(.95);
}

.article * {
    margin-left: 5%;
}

.cardValue {
    margin-left: 5%;
    display: flex;
}

.cardTitle {
    margin-top: 5%;
    margin-left: 5%;
}

.cardValue p {
    margin-left: 5%;
}







.popup {
    width: 50vw;
    height: auto;
    background: #262626;
    border-radius: 20px;
    position: fixed;
    z-index: 3;
    top: 10vh;
    left: 25vw;
    padding: 1.5%;
}

.X {
    color: white;
    cursor: pointer;
}

.xContainer {
    width: 15%;
    text-align: center;
    padding-top: 2.5vh;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


.popupHead {
    display: flex;
    vertical-align: top;
}

.popupHead h3 {
    width: 85%;
}

.popup table {
    width: 94%;
    height: auto;
}

.popup table tr {
    padding-bottom: 7%;

}

th, td {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2vmin;
    height: 5vmin;
    vertical-align: center;
}

th {
    color: #707070;
    text-align: right;
}

td {
    color: #FFFFFF;
    text-align: right;
    border-bottom: 1px solid #707070;
}

td.label, th.label {
    text-align: left;
}



td.change.positive {
    color: #00FF19;
}

td.change.negative {
    color: #FF0000;
}


.hidden {
    display: none;
}











footer {
    margin-top: 20vh;
}

footer .row {
    width: 70%;
    display: flex;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
}

footer * {
    background-color: #1e1f1c;
    font-family: 'Inter';
    color: white;
}

footer .container {
    width: 100%;
    justify-content: center;
    text-align: center;
}

footer .col-sm3 {
    width: 30%;
    text-align: left;
}

footer h5 {
    color: white;
    font-weight: 800;
    font-size: 18px;
}
footer li a {
    font-size: 14px;
    color: #707070;
    text-decoration: none;
    transition: all 0.3s;
}

footer li a:hover {
    color: #4545E6;
}


footer .copyright{
    width: 100%;
    text-align: center;
    background-color: #1e1f1c;
}
@media (max-aspect-ratio: 485/762) {
    footer div.row {
        flex-direction: column;
    }
    
}

.copyright a {
    transition: all 0.3s;
}
.copyright a:hover {
    color: #4545E6;
}