<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Foresight</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dataStyles.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.1/css/all.css. ">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loaderStyle.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='images/LOGONOTEXT.png') }}">
        <script src="https://kit.fontawesome.com/1b4a129057.js" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js" integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js" integrity="sha512-RvUydNGlqYJapy0t4AH8hDv/It+zKsv4wOQGb+iOnEfa6NnF2fzjXgRy+FDjSpMfC3sjokNUzsfYZaZ8QAwIxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{{ url_for('static',filename='js/popupHandler.js') }}"></script>
        <script src="{{ url_for('static',filename='js/changeColor.js') }}"></script>


        <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
    
        <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js"></script>
    
        <link href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
        <link href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    

    </head>
    <body class="preload">
        <div id="loader-wrapper">
            <div id="loading-bar-spinner" class="spinner">
                <div class="spinner-icon">
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/loader.js')}}"></script>
        <div class="header">
            <a href="/home">
                <img class="logo" src="{{ url_for('static',filename='images/ForesightLogo.png') }}" alt="Foresight">
            </a>
        </div>
        <div class="container">
            <div class="mainVisual">
                <div class="priceInfo">
                    <h2>{{info['currentValue']['value']}}</h2>
                    <div class="scheduleAndChange">
                        <p class="change">
                            {{info['currentValue']['change']}}
                        </p>
                        <p>
                            {{info['marketStatus']}}
                        </p>
                    </div>
                </div>
                <div class="graph" id="graph">
                </div>
                <script src="{{url_for('static', filename='js/stockChart.js')}}"></script>
            </div>
            <div class="companyInfo">
                <div class="nameAndLogo">
                    <h1>{{info['companyName']}}</h1>
                    <img class="companyLogo" src="{{info['companyLogoUrl']}}" alt="{{info['companyName']}}">
                </div>
                <p class="companyDesc">
                    {{info['companyDesc']}}
                </p>
            </div>
        </div>
        <div class="cardLayout">
            <div class="cards">
                <div class="card" id="incomeStatement" onclick="openThePopup(possibleActions.INCOME_STATEMENT)">
                    <h3 class="cardTitle">
                        Income Statement
                    </h3>
                </div>
                <div class="card" id="balanceSheet" onclick="openThePopup(possibleActions.BALANCE_SHEET)">
                    <h3 class="cardTitle">
                        Balance Sheet
                    </h3>
                </div>
                <div class="card" id="cashFlow" onclick="openThePopup(possibleActions.CASH_FLOW)">
                    <h3 class="cardTitle">
                        Cash Flow
                    </h3>
                </div>
            </div>
            <div class="news">
                <h3>News</h3>
                <div class="scrollable">
                    {% for a in newsList["articles"]%}
                    <a href="{{a['link']}}">
                            <div class="article">
                                <p class="publisher">
                                    {{a["publisher"]}} {{a["date"]}}
                                </p>
                                <p class="title">
                                    {{a["title"]}}
                                </p>
                            </div>
                    </a>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="background hidden" id="background">
        </div>
        <div class="popup hidden" id="popup">
            <div class="popupHead">
                <h3>
                    Title
                </h3>
                <div class="xContainer">
                    <i class="fa-solid fa-x X" onclick="closeThePopup()"></i>
                </div>
            </div>
            <table>
                <tr>
                    <th class="label">(USD)</th>
                    <th>Value</th>
                    <th>Y/Y change</th>
                </tr>
            </table>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm3">
                        <h5>Get started</h5>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm3">
                        <h5>Support</h5>
                        <ul>
                            <li>
                                <a href="/#contact">Contact us</a>
                            </li>
                        </ul>  
                    </div>
                    <div class="col-sm3">
                        <h5>Legal</h5>
                        <ul>
                            <li>
                                <a href="#">Idk man</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                © 2022 Resonance
            </div>
        </footer>
        <script>
            changeColor()
            changeTableStyle()
        </script>
    </body>
