<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Foresight</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/aboutStyles.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.1/css/all.css. ">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loaderStyle.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sideBarStyle.css') }}">

        <link rel="icon" href="{{ url_for('static',filename='images/ForesightLogoNoText.png') }}">
        <script src="https://kit.fontawesome.com/1b4a129057.js" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js" integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js" integrity="sha512-RvUydNGlqYJapy0t4AH8hDv/It+zKsv4wOQGb+iOnEfa6NnF2fzjXgRy+FDjSpMfC3sjokNUzsfYZaZ8QAwIxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{{url_for('static', filename='js/sideBarHandler.js')}}"></script>

    </head>
    <body class="preload">
        <div id="loader-wrapper">
            <div id="loading-bar-spinner" class="spinner">
                <div class="spinner-icon">
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/loader.js')}}"></script>

        <div class="header">
            <a href="/home">
                <img class="logo" src="{{ url_for('static',filename='images/ForesightLogo.png') }}" alt="Foresight">
            </a>
            <button id="hamburger" onclick="openNav()">☰</button>

        </div>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/howItWorks">How It Works</a>
            <a href="/legal">Legal</a>
            <a href="https://resonance-website.sentientplatypu.repl.co/#contact" target="_blank">Contact</a>
          </div>
        <section id="Hero">
            <div class="HeroHeader">
                <h1 class="HeroText">
                    How it works
                </h1>
                <h3 class="HeroSub">
                    its pretty simple
                </h3>
            </div>
        </section>

        <section id="inception" class="panel">
            <div class="container">
                <div class="scene">
                    <div class="text">
                        <h2>Integration.</h2>
                        <p>
                            Foresight splits its responsibilities into 2 applications: The webapp you are viewing right now, and the Foresight API. <br>
                            The webapp is responsible for displaying content, while the API does most of the heavylifting. <br>
                            I did this, because I needed to access data in javascript that is only available with python libraries. <br>
                            So, I just had my scripts send queries to a python application: the Foresight API.
                        </p>
                    </div>
                </div>
                <img src="{{ url_for('static',filename='images/ForesightLogoNoText.png') }}" alt="">
            </div>
        </section>
        <section id="team" class="panel">
            <div class="container">
                <div class="scene">
                    <div class="text">
                        <h2>The Foresight API</h2>
                        <p>
                            As stated before, I made the foresight API do all the heavy lifting like webscraping and predictions. Its just a flask app that returns strings. <br>
                            I made it open source. Check out its <a href="https://github.com/SentientPlatypus/Foresight-API">github</a> if you're interested.
                        </p>
                    </div>
                </div>
                <img src="https://www.pngitem.com/pimgs/m/159-1595977_flask-python-logo-hd-png-download.png" alt="">
            </div>
        </section>
        <section id="team" class="panel">
            <div class="container">
                <div class="scene">
                    <div class="text">
                        <h2>Webscraping</h2>
                        <p>
                            A lot of the data you see is webscraped from google finance like News articles and company descriptions. Why? because the google finance api has been discontinued. <br>
                            The Foresight API became its replacement, using the Beautiful soup python library to scrape data from the google finance website. It works really well, and there has not been any issues lately. <br>
                            Pretty much theres a function that scrapes data like news articles and static company information, and will return it when queried.
                        </p>
                    </div>
                </div>
                <img src="https://linuxpip.org/wp-content/uploads/2022/01/BS4-REMOVE-HTML-TAGS.jpg" alt="">
            </div>
        </section>

        <section id="vision" class="panel">
            <div class="container">
                <div class="scene">
                    <div class="text">
                        <h2>Predictions</h2>
                        <p>
                            The Foresight API uses an LSTM neural network to predict next months stock prices. <br>
                            First, the API recieves the query, Then I get data from yfinance, Then i reshape the data so I can fit it into Tensorflow's Dense LSTM. <br>
                            Then, I take the resulting dataset and send it back as a csv string, which is processed and displayed to you on the graph.
                        </p>
                    </div>
                </div>
                <img src="{{url_for('static', filename='images/appleThing.svg')}}" alt="graph">
            </div>
        </section>





        
        <script src="{{url_for('static', filename='js/aboutUsScrollmagic.js')}}"></script>



        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm3">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/howItWorks">How it works</a></li>
                        </ul>
                    </div>
                    <div class="col-sm3">
                        <h5>Support</h5>
                        <ul>
                            <li>
                                <a href="https://resonance-website.sentientplatypu.repl.co/#contact">Contact us</a>
                            </li>
                        </ul>  
                    </div>
                    <div class="col-sm3">
                        <h5>Legal</h5>
                        <ul>
                            <li>
                                <a href="/legal">Our policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                © 2022 <a href="https://resonance-website.sentientplatypu.repl.co">Resonance</a>
            </div>
        </footer>
        <div class="background hidden" id="background">
        </div>








    </body>
